::-webkit-scrollbar {
    background: #f1f1f1;
    width: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #349ADF; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5aa9e8; 
  }
  .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}