.import-box{
	position:static;
	height:250px;
	border:1px solid #bbb; 
	border-radius:3px;
	white-space: nowrap; 
	overflow-x:hidden;
	overflow-y: hidden;
	margin: auto;
	width: 50%;
}

.table-box{
	/* white-space: nowrap;  */
	position:relative;
	width:100%;

	height:450px;
	overflow-x:hidden;
	overflow-y: auto;

}
